[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rx = "*"

[dev-packages]
flake8 = "*"
black = "==21.11b1"  # pinned, because black is still pre-release. See https://github.com/pypa/pipenv/issues/1760#issuecomment-677702984
pytest = "*"

[requires]
python_version = "3.8"
